/* 颜色选择器 样式 */
.opacity-0
  background: #fff
  width: 20px
  height: 20px
  overflow: hidden
  &:after
    position: absolute
    font-family: 'iconfont'
    content: '\e623'
    width: 100%
    top: -5px
    left: 0
    visibility: visible
    display: block
    color: #f00
    font-size: 17px
/* end 颜色选择器 样式 */
