.context-menu
  position: absolute
  top: 0
  left: 0
  z-index: 9999
  border-radius: 3px
  overflow: hidden
  background-color: $context-menu-bg

  .item
    padding: 7px 25px
    cursor: pointer
    &:hover
      background-color: $context-menu-hover-bg
