/**
 * 重写 antd pagination
 */
.ant-pagination
  .ant-pagination-prev,
  .ant-pagination-next,
  .ant-pagination-item
    background: $pagination-bg
    border: 1px solid $pagination-border-color
    border-radius: 3px
    min-width: 28px
    height: 28px
    line-height: 28px
  .ant-pagination-item-active
    background $pagination-active-bg
    border-color $pagination-active-border-color
    a,
    &:hover a
      color $pagination-active-color

.ant-table-pagination
  list-style-position: inside
  margin: 0 !important
  padding: 10px 12px

  /*
   * 解决 antd 的 pagination 背景问题
   * antd 分页外层没有节点包裹，分页想居右，但是又要保留背景色
   * float: right 会导致宽度不能平铺容器
   */
  &:before
    background-color: $pagination-before-bg
    width: 100%
    height: 50px
    content: ''
    position: absolute
    left: 0
    bottom: 0
    z-index: -1
