$prefix = 'ant-'

/* Header */
$header-height = 75px

/* Button */
$btn-border-radius = 18px

/* Input */
$input-border-radius = 18px

/* CheckBox */
$checkbox-border-width  = 1px
$checkbox-border-radius = 1px

/* ICONFONT */
$iconfont-css-prefix = 'anticon'
$icon-url            = '//at.alicdn.com/t/font_1473216717_9976351'
