
.header {

    background-color: #fff;
    min-width       : 1120px;
    position        : fixed;
    width           : 100%;
    z-index         : 100;
    box-shadow      : 0 0 8px rgba(0, 0, 0, .1);
    /* transition      : background-color .3s; */
}