.upload-image
  span
    // width: 100%

    .ant-upload.ant-upload-select
      width: 100%

      button
        width: 100%
        height: 32px

  .showUplaodImage
    position: relative
    margin-top: 15px
    height: 150px
    border-width 2px
    border-style dotted
    border-radius: 2px
    background-clip: content-box
    padding: 4px

    .inner-div
      width: 100%
      height: 100%
      background-size: cover
      background-position: center

    .anticon-cross
      position: absolute
      top: 8px
      right: 8px
      font-size: 12px
      font-weight: bold
      cursor: pointer
      z-index: 1
