widget_image_url(name, commonUrl, selfUrl)
  .{name}
    background url(commonUrl+selfUrl)

.nav-panel
  .widget-list
    .widget-image
      widget_image_url(bar-barline, $widget-image-common-url, 'bar/barLine.png')
      widget_image_url(bar-basic, $widget-image-common-url, 'bar/basic.png')
      widget_image_url(bar-rank, $widget-image-common-url, 'bar/rank.png')
      widget_image_url(counter-basic, $widget-image-common-url, 'counter/basic.png')
      widget_image_url(funnel-basic, $widget-image-common-url, 'funnel/basic.png')
      widget_image_url(gauge-basic, $widget-image-common-url, 'gauge/basic.png')
      widget_image_url(geo-hot, $widget-image-common-url, 'geo/hot.png')
      widget_image_url(geo-lines, $widget-image-common-url, 'geo/lines.png')
      widget_image_url(geo-scatter, $widget-image-common-url, 'geo/scatter.png')
      widget_image_url(image-basic, $widget-image-common-url, 'image/basic.png')
      widget_image_url(dynamic-basic, $widget-image-common-url, 'dynamic/basic.png')
      widget_image_url(line-basic, $widget-image-common-url, 'line/basic.png')
      widget_image_url(pie-basic, $widget-image-common-url, 'pie/basic.png')
      widget_image_url(pie-rose, $widget-image-common-url, 'pie/rose.png')
      widget_image_url(radar-basic, $widget-image-common-url, 'radar/basic.png')
      widget_image_url(scatter-basic, $widget-image-common-url, 'scatter/basic.png')
      widget_image_url(table-basic, $widget-image-common-url, 'table/basic.png')
      widget_image_url(text-basic, $widget-image-common-url, 'text/basic.png')
      widget_image_url(time-basic, $widget-image-common-url, 'time/basic.png')
      widget_image_url(circle-basic, $widget-image-common-url, 'circle/basic.png')
      widget_image_url(process-basic, $widget-image-common-url, 'process/basic.png')
      widget_image_url(card-basic, $widget-image-common-url, 'card/basic.png')
