.tabsList{
    background: #ffffff;
    
}
.no_data{
    text-align: center;
    padding-top: 320px;
    Image{
        width: 340px;
        height: 230px;
    }
    .tip{
        color: #999999;
        font-size: 30px;
        margin-top: 60px;
    }
}
.itemCard{
    background: #ffffff;
    margin-bottom: 10px;
    .cardTitle{
        height: 80px;
        line-height: 80px;
        font-size: 24px;
        padding: 0 20px;
        .time{
            color: #999999;
            
            float: left;
        }
        .status{
            color: #E7831D;
            float: right;
        }
    }
    .cardContent{
        display: flex;
        background: #FAFAFA;
        
        padding: 22px 40px;
        .itemPic{
            width: 122px;
            height: 122px;
            margin-right: 24px;
            image{
                height: 100%;
                width: 100%;
            }
        }
        .itemDetail{
            margin-top: -6px;
            .title{
                width: 520px;
                color: #222222;
                font-size: 30px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                /* autoprefixer: off */
                -webkit-box-orient: vertical;
                /* autoprefixer: on */
                margin-bottom: 16px;
                font-weight: bold;
            }
            .nature{
                color: #999999;
                font-size: 24px;
                margin-bottom: 20px;
                height: 30rpx;
            }
            .price{
                color: #222222;
                font-size: 30px;
                
                .actual{
                    font-weight: bold;
                    float: left;
                    line-height: 30px;
                    display: flex;
                    .original{
                        text-decoration:line-through;
                        font-size:24px;
                        color: #999999;
                        margin-left: 6px;
                    }
                }
                
                .count{
                    font-size:30px;
                    color: #999999;
                    float: right;
                }
            }
        }
    }
    .realPrice{
        height: 80px;
        font-size: 30px;
        display: flex;
        line-height: 80rpx;
        
        padding-right: 20px;
        justify-content: flex-end;

        .name{
            color: #666666;
            font-weight: 300;
        }
        .num{
            color: #E7831D;
            font-weight: 500;
        }
    }
    .cardBorder{
        height: 1px;
        
        margin:0 20px;
        border-bottom: 1px solid #F4F4F4;
    }
    .cardAction{
        overflow: hidden;
        height: 100rpx;
            line-height: 100rpx;
        .countDownTime{
            font-size: 24rpx;
            color: #666666;
            float: left;
            display: flex;
            
            margin-left: 20rpx;

            .time{
                color: #E7831D;
                margin-left: 20rpx;
            }
        }
        .actionBtn{
            
            height: 60px;
            line-height: 60px;
            font-size: 24px;
            color: #222222;
            padding: 0;
            padding: 0 22rpx;
            float: right;
            margin-top: 18rpx;
            margin-right: 24rpx;

        }
    }
}
.noData{
    
    text-align: center;
    line-height: 100px;
    .border{
        width: 40px;
        height: 4px;
        background: #999999;
        display: inline-block;
        margin: 0 16px 8px;
    }
    .text{
        font-size: 26px;
        color: #999999;
        display: inline-block;
    }
}