.ant-modal
  .ant-form
    legend
      color: #fff
      text-align: left
      border-bottom: none
      padding-left: 30px

    .ant-col-6
      label:before
        content: ''

    .home-text-color, .home-modal-text-color, .bg-color
      .ant-col-14
        position: relative

        .ant-input-wrapper
          .ant-input, .ant-input-lg
            width: 100%
            float: left

    .color-picker-trigger
      position: absolute
      top: 6px
      left: 0
