.dynamic-container
  .dynamic-select
    .ant-col-14
      position: relative

      .status-select
        width: 81%

      .color-picker-trigger
        position: absolute
        top: 6px
        margin-left: 8px

  .increase-select
    margin-top: 0
    margin-left: 220px
    width: 20px
    height: 20px
    line-height: 20px
    text-align: center
    border: 1px solid #41a4e2

  .has-success, .ant-select-selection
    border-color: #41a4e2 !important
    background-color: #0d5990
    color: #fff
