.add
  position: relative
  vertical-align: top
  .wrap
    cursor: pointer
    border: 2px dashed $add-window-border-color
    height: 100%
    background-color: $add-window-bg
    color: $add-window-color
    &:hover
      box-shadow: 0 0 10px 3px $add-window-shadow-color
  .plus
    position: absolute
    top: 50%
    left: 50%
    width: 60px
    height: 60px
    margin-top: -30px
    margin-left: -30px
    font-size: 48px
    font-weight: bold
    line-height: 60px
  p
    text-align: center
    font-size: 16px
    margin-top: 34%
