.addSource .ant-modal-content
  .ant-modal-header
    padding: 25px 16px 10px !important
  form textarea.ant-input
    height: 80px
  .ant-modal-body
    .add-form
      .approve .ant-col-14 .ant-form-item-control
        text-align: left
      .choose
        .ant-select-selection__placeholder, .ant-select-search__field__placeholder
          text-align: left
      .url, .uleft, .uright
        width: 31%
      .port
        margin: 0
        position: relative
        left: 99px
        top: -50px
        .ant-col-14
          position: absolute
          left: 6px
      .databaseName
        position: relative
        top: -50px
        .ant-col-14
          position: absolute
          left: 105px
      .uleft
        float: left
      .uright
        float: right
      .btn-group-vertical
        .ant-btn
          border: none
          padding: 8px 30px
          font-size: 12px
          margin-top: 20px
  .ant-modal-footer button + button
    margin: 0