/*查询数据*/
.ant-table-tbody > tr > td
  position: inherit
.get
  .ant-modal-content
    width: 720px !important
.detail
  padding: 0 20px
  header p
    margin-bottom: 15px
  .ant-table .ant-table-content th
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    padding: 0 15px
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    padding: 0 15px
  .ant-table-thead > tr
    height: 40px
  .ant-table-tbody > tr
    height: 30px
  .ant-table-tbody tr:nth-child(even)
    background-color: $table-tr-even-bg
  .ant-table-tbody tr:nth-child(odd)
    background-color: $table-tr-odd-bg
  .watch
    right: 110px !important
  .text
    text-align: left
    text-indent: 10px
    margin-top: 15px