/* body */
$body-background = #151b35
$main-background = #1b2241
$secondary-background = #2b3466

/* color */
$white-color = #ffffff
$disabled-color = #4c5159
$border-color = #2b3466

$primary-color = #6c83fd
$primary-light-color = #8494e7
$primary-disabled-color = #3b488c

$success-color = #4ccdb0
$success-light-color = #60b5a1
$success-disabled-color = #1d5246

$danger-color = #eb4557
$danger-light-color = #d45f6d
$danger-disabled-color = #5d1b22

/* normal, hover, active, disabled */
$btn-primary-bg = $primary-color $primary-light-color $primary-disabled-color $primary-disabled-color
$btn-success-bg = $success-color $success-light-color $success-disabled-color $success-disabled-color
$btn-danger-bg = $danger-color $danger-light-color $danger-disabled-color $danger-disabled-color
$btn-back-bg = #282f4c

/* text */
$text-color = $white-color
$text-secondary-color = #8b8e9d
$text-remark-color = $primary-color
$text-btn-color = $white-color
$text-disabled-color = rgba(255, 255, 255, 0.3)
$global-message-color = $disabled-color

/* header */
$header-bg = $main-background
$header-box-shadow = 0 0 15px #101529

/* forms */
/* input */
$input-placeholder-color = #5994d6
$input-boxshadow-inset = 0 0 6px 0 rgba(0, 0, 0, .3)

$input-bg = $main-background
$input-color = $text-color
$input-border-color = $border-color

$input-focus-bg = #161f46
$input-focus-color = $text-color
$input-focus-border-color = $primary-color

$input-disabled-bg = #3a4a5a
$input-disabled-color = $disabled-color
$input-disabled-border-color = $disabled-color

$input-error-bg = #4a3d52
$input-error-color = $danger-color
$input-error-border-color = $danger-color

/* input number */
$input-number-handler-bg = #3488c8
$input-number-handler-color = #7cc6f5
$input-number-handler-border-color = $input-border-color

/* checkbox */
$checkbox-bg = $main-background
$checkbox-border-color = $border-color
$checkbox-checked-bg = #161f46

/* dropdown menu */
$dropdown-menu-bg = #252e58
$dropdown-menu-item-bg = #252e58
$dropdown-menu-item-hover-bg = $primary-light-color
$dropdown-menu-item-selected-bg = $primary-color
$dropdown-menu-item-border-color = $border-color

/* autofill */
$autofill-boxshadow-color = $secondary-background

/* tab menu */
$tab-menu-bg = #151b34
$tab-menu-selected-bg = $main-background
$tab-menu-color = $text-color
$tab-menu-selected-color = $text-color

/* slide bar */
$slidebar-bg = #0a497b
$slidebar-border-color = $main-background
$slidebar-track-bg = #2cb7f5
$slidebar-handle-border-color = #96dbfa

/* bold */
$bold-color = $text-color
$bold-bg = #145e99
$bold-border-color = #297ebb
$bold-checked-color = #e7e7e7
$bold-checked-bg = #1681c4
$bold-checked-border-color = $bold-border-color

/* scrollbar */
$scrollbar-webkit-bg = $body-background
$scrollbar-webkit-shadow = rgba(0, 0, 0, 0.3)
$scrollbar-webkit-handle-bg = rgba(0, 0, 0, 0.2)

/* ie scrollbar */
$scrollbar-face-color = #2876b2
$scrollbar-shadow-color = #1a4e75
$scrollbar-highlight-color = #55a3df
$scrollbar-3dlight-color = #408eca
$scrollbar-darkshadow-color = #143c5b
$scrollbar-track-color = #083d68
$scrollbar-arrow-color = #1b364c

/* 画布 */
$content-wrap-bg = #151b35

/* modal */
$modal-border = 4px solid rgba(255, 255, 255, .2)
$modal-border-radius = 10px
$modal-bg = $main-background
$modal-color = $text-color
$modal-btn-bg = $primary-color
$modal-btn-ghost-hover-bg = #57c5f7

/* popover */
$popover-bg = #343a56
$popover-color = #e2e7ec
$popover-boxshadow-color = rgba(0, 0, 0, 0.2)

/* context menu */
$context-menu-bg = $main-background
$context-menu-hover-bg = #3092d9

/* table */
$table-th-bg = #333e7b
$table-th-color = $white-color
$table-border-color = #252b48
$table-placeholder-bg = $main-background
$table-row-expand-icon-bg = #1681c4
$table-row-expand-icon-color = $white-color
$table-body-bg = #1b2240
$table-tr-even-bg = $secondary-background
$table-tr-odd-bg = $secondary-background

/* pagination */
$pagination-bg = #0f3856
$pagination-border-color = $pagination-bg
$pagination-active-bg = $pagination-bg
$pagination-active-color = $white-color
$pagination-active-border-color = $pagination-bg
$pagination-before-bg = #164f7d

/* panel menu */
$panel-menu-header-bg = #222b50
$panel-menu-icon-color = $primary-color

/* add window */
$add-window-bg = rgba(0, 0, 0, 0.1)
$add-window-color = #468edf
$add-window-border-color = $add-window-color
$add-window-shadow-color = rgba(0, 0, 0, .15)

/* carousel & coverflow */
$carousel-slick-btn-bg = rgba(0, 0, 0, 0.2)
$carousel-slick-btn-color = $white-color
$coverflow-slick-dots-bg = $border-color
$coverflow-slick-dots-active-bg = $primary-color

/* upload image */
$upload-image-border-color = $border-color
$upload-image-icon-color = $text-color
$upload-image-icon-hover-color = $primary-color

/* progress */
$progress-inner-bg = $secondary-background
$progress-success-bg = $success-color
$progress-color = $white-color
$progress-active-bg = $primary-color
$progress-active-border-color = $primary-color

/* dashboard item */
$dashboard-snapshot-border = 2px solid $primary-color
$dashboard-item-border-color = rgba(255, 255, 255, 0.1)
$dashboard-item-bg = $header-bg
$dashboard-item-title-color = $white-color
$dashboard-item-title-bg = $primary-color
$dashboard-item-toolkit-color = $white-color
$dashboard-item-toolkit-hover-color = $primary-color

/* page data-set*/
$setFields-table-footer-bg = $main-background
$setFields-table-footer-color = #6ec2ff

/* page editor */
$node-elastic = #50667d

/* app-header */
$app-header-bg = $main-background
$app-header-btn-bg = $primary-color
$app-header-btn-color = $white-color
$app-header-btn-border-color = #28588e

/* tool-wrap */
$tool-wrap-bg = $main-background
$tool-group-border-color = #2a314e
$tool-btn-color = $primary-color
$tool-btn-hover-color = $white-color
$tool-btn-disabled-color = rgba(77, 94, 109, 1)

/* widget-wrap */
$widget-wrap-box-shadow = 0 0 8px 0 #101529
$widget-wrap-bg = $header-bg
$widget-wrap-color = $primary-color
$widget-wrap-border-color = #2a314d
$widget-wrap-leftborder-color = transparent
$widget-wrap-hover-bg = #343a56
$widget-wrap-hover-color = $white-color
$widget-wrap-hover-leftborder-color = transparent
$widget-list-hover-color = $white-color
$widget-image-bg = transparent
$widget-image-border-color = transparent
$widget-image-hover-border-color = transparent
$widget-nav-panel-class-title-bg = #484e67
$widget-nav-panel-class-title-color = $primary-color
$widget-mold-svg-color = $primary-color

/* grid */
$grid-bg = $secondary-background
$grid-box-border-color = #2c3e50
$grid-cell-border-color = rgba(44, 62, 80, .95)
$grid-widget-toolbar-color = $text-color

/* panel */
$panel-bg = $main-background
$panel-disabled-mask-bg = rgba(29, 106, 167, 0.7)

/* webpage iframe */
$webpage-iframe-bg = $white-color

/* widgetlist image url */
$widget-image-common-url = '~assets/images/theme/default/chart/'

/* template modal */
$template-input-focus-bg = #1c77b8
$template-input-focus-border-color = transparent
$template-input-addon-color = $text-color

// todo - 暂时取消
//@import '../theme-creator.styl'
//themecreator()
