$body-background = radial-gradient(50% 50%, #2a61a1, #1e4879)

$text-color           = #fff
$text-remark-color    = #6ec2ff  //备注类文字
$text-btn-color       = #fff
$text-disabled-color  = rgba(255, 255, 255, 0.3)
$global-message-color = #4c5159

/* normal, hover, active, disabled */
$btn-primary-bg  = #1681c4 #53b9f9 #054d7b rgba(5, 77, 123, 0.3)
$btn-success-bg  = #4cb153 #61dd6a #25882c #25882c
$btn-danger-bg   = #d85735 #f77553 #bc4121 #bc4121

/**
 * Forms
 */
/**
 * Input
 */
$input-bg                 = #0d5990
$input-color              = $text-color
$input-border-color       = #41a4e2
$input-placeholder-color  = #5994d6

$input-focus-bg           = #1c77b8
$input-focus-color        = $text-color
$input-focus-border-color = #68c5ff

$input-disabled-bg            = #3a4a5a
$input-disabled-color         = #6f6f6f
$input-disabled-border-color  = #565c5d

$input-error-bg           = #4a3d52
$input-error-color        = #d14a4a
$input-error-border-color = #88333e

/**
 * Input Number
 */
$input-number-handler-bg            = #3488c8
$input-number-handler-color         = #7cc6f5
$input-number-handler-border-color  = $input-border-color

/**
 * CheckBox
 */
$checkbox-bg            = #2378c3
$checkbox-border-color  = #4b96d9

$checkbox-checked-bg    = #44a2f4

/**
 * DropDown Menu
 */
$dropdown-menu-bg                 = #145e99
$dropdown-menu-item-bg            = #1c6aa7
$dropdown-menu-item-hover-bg      = #3092d9
$dropdown-menu-item-selected-bg   = #3092d9
$dropdown-menu-item-border-color  = #3B74A5

/**
 * AutoFill
 */
$autofill-boxshadow-color = #116098

/**
 * Tab Menu
 */
$tab-menu-bg              = rgba(0, 0, 0, 0.36)
$tab-menu-selected-bg     = #1d6aa7
$tab-menu-color           = $text-color
$tab-menu-selected-color  = $text-color

/**
 * Slide Bar
 */
$slidebar-bg                  = #0a497b
$slidebar-border-color        = #1d6aa7
$slidebar-track-bg            = #2cb7f5
$slidebar-handle-border-color = #96dbfa

/**
 * Bold
 */
$bold-color                 = $text-color
$bold-bg                    = #145e99
$bold-border-color          = #297ebb
$bold-checked-color         = #e7e7e7
$bold-checked-bg            = #1681c4
$bold-checked-border-color  = $bold-border-color

/**
 * Scrollbar
 */
$scrollbar-webkit-bg        = rgba(29, 106, 167, 1)
$scrollbar-webkit-shadow    = rgba(0, 0, 0, 0.3)
$scrollbar-webkit-handle-bg = rgba(0, 0, 0, 0.2)

/**
 * IE Scrollbar
 */
$scrollbar-face-color       = #2876b2
$scrollbar-shadow-color     = #1a4e75
$scrollbar-highlight-color  = #55a3df
$scrollbar-3dlight-color    = #408eca
$scrollbar-darkshadow-color = #143c5b
$scrollbar-track-color      = #083d68
$scrollbar-arrow-color      = #1b364c

/**
 * 画布
 */
$content-wrap-bg             = #1b3654

/**
 * Modal
 */
$modal-bg                 = #1d6aa7
$modal-color              = $text-color
$modal-btn-bg             = #1681c4
$modal-btn-ghost-hover-bg = #57c5f7

/**
 * PopOver
 */
$popover-bg               = #282B30
$popover-color            = #E2E7EC
$popover-boxshadow-color  = rgba(0, 0, 0, 0.2)

/**
 * Context Menu
 */
$context-menu-bg        = #1d6aa7
$context-menu-hover-bg  = #3092d9

/**
 * Table
 */
$table-th-bg                  = #102845
$table-th-color               = #74C4F9
$table-border-color           = #1F538C
$table-placeholder-bg         = #1d6aa7
$table-row-expand-icon-bg     = #1681C4
$table-row-expand-icon-color  = #fff
$table-tr-even-bg             = #195D93
$table-tr-odd-bg              = #164F7D

/**
 * Pagination
 */
$pagination-bg                  = #0F3856
$pagination-border-color        = $pagination-bg
$pagination-active-bg           = $pagination-bg
$pagination-active-color        = #fff
$pagination-active-border-color = $pagination-bg
$pagination-before-bg           = #164f7d

/**
 * Panel Menu
 */
$panel-menu-header-bg   = #004979
$panel-menu-icon-color  = #0180BA

/**
 * Add Window
 */
$add-window-bg           = rgba(0, 0, 0, 0.1)
$add-window-color        = #468edf
$add-window-border-color = $add-window-color
$add-window-shadow-color = rgba(0, 0, 0, .15)

/**
 * Carousel & Coverflow
 */
$carousel-slick-btn-bg          = rgba(0, 0, 0, 0.2)
$carousel-slick-btn-color       = #224e80
$coverflow-slick-dots-bg        = #15477d
$coverflow-slick-dots-active-bg = #4ea4e0

/**
 * Upload Image
 */
$upload-image-border-color      = #297ebb
$upload-image-icon-color        = $text-color
$upload-image-icon-hover-color  = #44a2f4

/**
 * Progress
 */
$progress-inner-bg             = #0D3A64
$progress-success-bg           = #87d068
$progress-color                = #fff
$progress-active-bg            = #1681c4
$progress-active-border-color  = #fff

/**
 * Dashboard Item
 */
$dashboard-item-border-color        = rgba(255, 255, 255, 0.1)
$dashboard-item-bg                  = #214e82
$dashboard-item-title-color         = #56ACE2
$dashboard-item-toolkit-color       = #fff
$dashboard-item-toolkit-hover-color = #2db7f5

/**
 * Page Data-Set
 */
$setFields-table-footer-bg          = #1D6AA7
$setFields-table-footer-color       = #6EC2FF

/**
 * Page Editor
 */
$node-elastic                       = #50667d
/**
 * App-header
 */
$app-header-bg                      = #1d4d83
$app-header-btn-bg                  = #1d4d83
$app-header-btn-color               = #6cc5ff
$app-header-btn-border-color        = #28588e
/**
 * Tool-wrap
 */
$tool-wrap-bg                       = #1a4b7e
$tool-group-border-color            = #0e3d66
$tool-btn-color                     = #6cc5ff
$tool-btn-hover-color               = #fff
$tool-btn-disabled-color            = rgba(77, 94, 109, 1)
/**
 * Widget-wrap
 */
$widget-wrap-bg                     = rgba(0, 0, 0, 0.2)
$widget-wrap-color                  = #6ac5fe
$widget-wrap-border-color           = #214268
$widget-wrap-leftborder-color       = transparent
$widget-wrap-hover-bg               = #2876b2
$widget-wrap-hover-color            = #fff
$widget-wrap-hover-leftborder-color = transparent
$widget-list-hover-color            = #fff
$widget-image-bg                    = #15598e
$widget-image-border-color          = transparent
$widget-image-hover-border-color    = #6ac5fe
$widget-nav-panel-class-title-bg    = #4089bf
$widget-nav-panel-class-title-color = $text-color
$widget-mold-svg-color              = #1681cf
/**
 * Grid
 */
$grid-bg                    = #044273
$grid-box-border-color      = #275c8c
$grid-cell-border-color     = rgba(10, 73, 123, 0.4)
$grid-widget-toolbar-color  = $text-color
/**
 * Panel
 */
$panel-bg               = #1d6aa7
$panel-disabled-mask-bg = rgba(29, 106, 167, 0.7)
/**
 * WebPage Iframe
 */
$webpage-iframe-bg = #fff

/**
 * WidgetList Image Url
 */
$widget-image-common-url = '~assets/images/theme/default/chart/'

/**
 * Template Modal
 */
$template-input-focus-bg           = #1c77b8
$template-input-focus-border-color = transparent
$template-input-addon-color        = $text-color

@import '../theme-creator.styl'

themeCreator()
