$body-background = #e7f0f5

$text-color           = #4c5159
$text-remark-color    = #acb3bf  //备注类文字
$text-btn-color       = #fff
$text-disabled-color  = #ced2d9
$global-message-color = #4c5159

/* normal, hover, active, disabled */
$btn-primary-bg  = #4082e6 #2669ce #255fbb #255fbb
$btn-success-bg  = #4cb153 #61dd6a #25882c #25882c
$btn-danger-bg   = #d85735 #f77553 #bc4121 #bc4121

/**
 * Forms
 */
/**
 * Input
 */
$input-bg                 = #fff
$input-color              = $text-color
$input-border-color       = #d5ddeb
$input-placeholder-color  = #acb3bf

$input-focus-bg           = $input-bg
$input-focus-color        = $text-color
$input-focus-border-color = #4082e6

$input-disabled-bg            = #e1e2e2
$input-disabled-color         = #b0b3b3
$input-disabled-border-color  = #b1b2b2

$input-error-bg           = $input-bg
$input-error-color        = $text-color
$input-error-border-color = #ef5b33

/**
 * Input Number
 */
$input-number-handler-bg            = #fff
$input-number-handler-color         = $input-border-color
$input-number-handler-border-color  = $input-border-color

/**
 * CheckBox
 */
$checkbox-bg            = #e9edf2
$checkbox-border-color  = #adb3bf

$checkbox-checked-bg    = #4082e6

/**
 * DropDown Menu
 */
$dropdown-menu-bg                 = #fff
$dropdown-menu-item-bg            = #fff
$dropdown-menu-item-hover-bg      = #ebf1f6
$dropdown-menu-item-selected-bg   = #ebf1f6
$dropdown-menu-item-border-color  = $input-border-color

/**
 * AutoFill
 */
$autofill-boxshadow-color = $input-border-color

/**
 * Tab Menu
 */
$tab-menu-bg              = #f2f7fc
$tab-menu-selected-bg     = #4082e6
$tab-menu-color           = #6c7480
$tab-menu-selected-color  = #fff

/**
 * Slide Bar
 */
$slidebar-bg                  = #e9edf2
$slidebar-border-color        = #fff
$slidebar-track-bg            = #4082e6
$slidebar-handle-border-color = #f2f7fc

/**
 * Bold
 */
$bold-color                = #fff
$bold-bg                   = #4183e6
$bold-border-color         = $bold-bg
$bold-checked-color        = #6fa2e4
$bold-checked-bg           = #2160ba
$bold-checked-border-color = $bold-checked-bg

/**
 * Scrollbar
 */
$scrollbar-webkit-bg        = rgba(0, 0, 0, 0.03)
$scrollbar-webkit-shadow    = rgba(0, 0, 0, 0.07)
$scrollbar-webkit-handle-bg = rgba(0, 0, 0, 0.07)

/**
 * IE Scrollbar
 */
$scrollbar-face-color       = #edf2f6
$scrollbar-shadow-color     = #9c9fa2
$scrollbar-highlight-color  = #e4ecf6
$scrollbar-3dlight-color    = #f0f3f6
$scrollbar-darkshadow-color = #797b7d
$scrollbar-track-color      = #e3e9ee
$scrollbar-arrow-color      = #d7dfec

/**
 * 画布
 */
$content-wrap-bg             = #edf2f6

/**
 * Modal
 */
$modal-bg                 = #fff
$modal-color              = $text-color
$modal-btn-bg             = $btn-primary-bg[0]
$modal-btn-ghost-hover-bg = #57c5f7

/**
 * PopOver
 */
$popover-bg               = #fff
$popover-color            = $text-color
$popover-boxshadow-color  = rgba(0, 0, 0, 0.2)

/**
 * Context Menu
 */
$context-menu-bg        = #fff
$context-menu-hover-bg  = #e8eef1

/**
 * Table
 */
$table-th-bg                  = #b9d3ed
$table-th-color               = #6c7480
$table-border-color           = #e4e7eb
$table-placeholder-bg         = transparent
$table-row-expand-icon-bg     = #4082e6
$table-row-expand-icon-color  = #fff
$table-tr-even-bg             = #fff
$table-tr-odd-bg              = #fff

/**
 * Pagination
 */
$pagination-bg                  = #f8fbfd
$pagination-border-color        = #d5ddeb
$pagination-active-bg           = #fff
$pagination-active-color        = #4082e6
$pagination-active-border-color = #4082e6
$pagination-before-bg           = #fff

/**
 * Panel Menu
 */
$panel-menu-header-bg   = #e8eef3
$panel-menu-icon-color  = #c4d1dd

/**
 * Add Window
 */
$add-window-bg           = #edf2f7
$add-window-color        = #ced2d9
$add-window-border-color = #d5ddeb
$add-window-shadow-color = rgba(0, 0, 0, .15)

/**
 * Carousel & Coverflow
 */
$carousel-slick-btn-bg          = rgba(63, 131, 228, 0.2)
$carousel-slick-btn-color       = #fff
$coverflow-slick-dots-bg        = #cdd6e8
$coverflow-slick-dots-active-bg = #63b5ff

/**
 * Upload Image
 */
$upload-image-border-color      = #d5ddeb
$upload-image-icon-color        = $text-color
$upload-image-icon-hover-color  = $text-color

/**
 * Progress
 */
$progress-inner-bg             = #acbdc8
$progress-success-bg           = #87d068
$progress-color                = #fff
$progress-active-bg            = #4082e6
$progress-active-border-color  = #fff

/**
 * Dashboard Item
 */
$dashboard-item-border-color        = rgba(213, 221, 235, 0.5)
$dashboard-item-bg                  = #eef6fb
$dashboard-item-title-color         = $text-color
$dashboard-item-toolkit-color       = #bababa
$dashboard-item-toolkit-hover-color = #bababa

/**
 * Page Data-Set
 */
$setFields-table-footer-bg          = #fff
$setFields-table-footer-color       = $text-color

/**
 * Page Editor
 */
$node-elastic                       = #50667d
/**
 * App-header
 */
$app-header-bg                      = #ecf3f6
$app-header-btn-bg                  = #ecf3f6
$app-header-btn-color               = #808699
$app-header-btn-border-color        = #d2dee5
/**
 * Tool-wrap
 */
$tool-wrap-bg                       = #f3f8f9
$tool-group-border-color            = #cfdbe4
$tool-btn-color                     = #808699
$tool-btn-hover-color               = #4084e4
$tool-btn-disabled-color            = rgba(77, 94, 109, 0.2)
/**
 * Widget-wrap
 */
$widget-wrap-bg                     = #fff
$widget-wrap-color                  = $text-color
$widget-wrap-border-color           = #d5ddeb
$widget-wrap-leftborder-color       = transparent
$widget-wrap-hover-bg               = #eef5ff
$widget-wrap-hover-color            = #4082e6
$widget-wrap-hover-leftborder-color = #4082e6
$widget-list-hover-color            = $text-color
$widget-image-bg                    = #fff
$widget-image-border-color          = #d5ddeb
$widget-image-hover-border-color    = #4082e6
$widget-nav-panel-class-title-bg    = #fff
$widget-nav-panel-class-title-color = #5d5d5d
$widget-mold-svg-color              = #bedffb
/**
 * Grid
 */
$grid-bg                    = #3e4753
$grid-box-border-color      = #738294
$grid-cell-border-color     = rgba(202, 202, 202, 0.03)
$grid-widget-toolbar-color  = #fff
/**
 * Panel
 */
$panel-bg               = #fff
$panel-disabled-mask-bg = rgba(255, 255, 255, 0.7)
/**
 * WebPage Iframe
 */
$webpage-iframe-bg = #fff

/**
 * WidgetList Image Url
 */
$widget-image-common-url = '~assets/images/theme/white/chart/'

/**
 * Template Modal
 */
$template-input-focus-bg           = #f5f6f8
$template-input-focus-border-color = #eceef2
$template-input-addon-color        = #cacedf

@import '../theme-creator.styl'

themeCreator('white')
