@font-face {
    font-family   : 'sxc';
    src           :
        // url('../font/pinghei.eot?#font-spider') format('embedded-opentype'),
        // url('../font/pinghei.woff') format('woff'),
        url('../../assets/font-face/SourceHanSerifCN-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}